/* ---------------- Dashboard Side -------------- */
@import url("@/assets/css/bootstrap.min.css");
@import url("@/assets/css/bootstrap-select.min.css");
@import url("@/assets/css/icons.css");
@import url("@/assets/css/slick.css");
@import url("@/assets/css/slick-theme.css");
@import url("@/assets/css/jquery-ui.min.css");
@import url("@/assets/css/OverlayScrollbars.min.css");
@import url("@/assets/css/bootstrap-datepicker.min.css");
@import url("@/assets/css/fullcalendar.min.css");
@import url("@/assets/css/fullcalendar-daygrid.min.css");
@import url("@/assets/css/magnific-popup.css");
@import url("@/assets/css/photoswipe.css");
@import url("@/assets/css/main-ltr.css");
@import url("@/assets/css/styling-options.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700|Roboto:300,400,500,700");

/* --------------- Client Side ------------- */
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");

/* Home page */
@import url("@/assets/css/client-side/styles.css");
/* Properties page */
@import url("@/assets/css/client-side/properties.css");
/* Responsive pages */
@import url("@/assets/css/client-side/responsive.css");
/*@import url("/css/app-wa-54e7be3a62ca9b7580d7f8c669f59e74.css?vsn=d")*/
@import url("https://site-assets.fontawesome.com/releases/v6.6.0/css/all.css");
@import url("https://site-assets.fontawesome.com/releases/v6.6.0/css/sharp-duotone-solid.css");
@import url("https://site-assets.fontawesome.com/releases/v6.6.0/css/sharp-thin.css");
@import url("https://site-assets.fontawesome.com/releases/v6.6.0/css/sharp-solid.css");
@import url("https://site-assets.fontawesome.com/releases/v6.6.0/css/sharp-regular.css");
@import url("https://site-assets.fontawesome.com/releases/v6.6.0/css/sharp-light.css");


