
.row-responsive {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 15px;
}

.flex-item {
  flex: 1;
  min-width: 300px;
}

.button-item {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .row-responsive {
    flex-direction: column;
  }
  .flex-item {
    width: 100%;
  }
}
