#property-main {
    display: grid;
    grid-template-columns: 300px calc(100% - 300px);
    margin: 0 auto;
}

.properties-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.total-properties {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total-properties select {
    outline: none;
    border: none;
}

.from-to-from {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 7px;
    color: #777;
    font-size: 13px;
}

.from-to-from a {
    color: #777;
}

#property-sidebar {
    display: flex;
    line-height: 28px;
    padding: 20px;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 20px;
    height: calc(100vh - 96px);
    overflow: auto;
    position: sticky;
    top: 96px;
}

.property-search-bar {
    padding: 5px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
    border-radius: 5px;
    border: 1px solid gray;
}

.property-search-bar i {
    padding: 5px;
}

.property-search-bar input {
    background: none;
    border: none;
    outline: none;
}

/* property filters */
#properties-filters {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filter-box {
    position: relative;
}

.filter-box button {
    padding: 7px 14px;
    border-radius: 5px;
    border: 1px solid #cecece;
    color: #222;
}

.options {
    background-color: #fff;
    position: absolute;
    left: -1px !important;
    top: 7px !important;
    padding: 10px;
    width: 200px;
    height: fit-content;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #f1f1f1;
}

.options form p {
    border-bottom: 1px solid #cecece;
    margin-bottom: 20px !important;
    width: fit-content;
    margin: auto;
    padding: 0 5px;
}

.options form div {
    display: flex;
    gap: 10px;
    align-items: center;
}

.options form div:last-child {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
}

.options form div:last-child input {
    color: #000;
    padding: 0px 5px;
    border: 1px solid #999;
    border-radius: 5px;
    background: none;
    font-weight: 400;
    font-size: 13px;
}

.options form div:last-child input:hover {
    background-color: rgb(141, 69, 20);
    border: 1px solid rgb(141, 69, 20);
;
    color: #fff;
}

.number-min-max {
    justify-content: space-between;
    margin-bottom: 40px;
}

.number-min-max input {
    width: 60px;
    border-radius: 5px;
    border: 1px solid gray;
    outline: none;
}

.sidebar-search-btn {
    background-color: var(--primary-color);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

/* images slider css */

/* properties */
#properties {
    padding: 20px;
    margin-bottom: 30px;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.cards-container .property-card-box {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    border-radius: 5px;
}

.property-details-box {
    padding: 10px;
}

.property-details-box a p {
    margin-bottom: 5px !important;
}

.property-price-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.property-price-detail div {
    display: flex;
    gap: 5px;
    align-items: center;
}

.rooms-baths-sqft {
    gap: 15px !important;
}

.rooms-baths-sqft p {
    display: flex;
    align-items: center;
    gap: 5px;
}

.property-price-detail div:first-child {
    color: rgb(167, 109, 44);
    font-size: 18px;
}

.property-carousel {
    display: flex;
    align-items: center;
    position: relative;
}

.property-carousel a {
    width: 100%;
}

.property-carousel i {
    position: absolute;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    color: #FFF;
}

.property-carousel i:active {
    color: var(--primary-color);
}

.property-carousel .fa-chevron-left {
    left: 10px;
}

.property-carousel .fa-chevron-right {
    right: 10px;
}

.property-images {
    height: 300px;
    width: 100%;
}

.property-images img {
    height: 100%;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.total-properties select{
    background: none;
}

@media(max-width:1050px) {
    .cards-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media(max-width:700px) {
    #property-main {
        grid-template-columns: repeat(1,1fr);
    }
    #property-sidebar{
        height: fit-content;
        background-color: #fff;
        z-index: 4;
        position: static;
        padding-bottom: 0;
    }
    .options{
        top: 7px !important;
        position: fixed !important;
        z-index: 10;
        top: 210px !important;
        left: 50% !important;
        border: 1px solid #777;
        transform: translateX(-50%) !important;

    }
    .filter-box button {
        padding: 3px 6px;
    }
    .property-search-bar input {
        width: 100%;
    }
    #properties-filters{
        flex-direction: row;
        overflow: auto;
    }
    .number-min-max{
        margin-bottom: 0;
    }
}
@media(max-width:450px){
    .options{
        top: 190px !important;
    }
    .property-price-detail div:first-child {
        font-size: 16px;
    }
    .rooms-baths-sqft {
        gap: 10px !important;
    }
}
@media(max-width:350px){
    .property-price-detail{
        flex-direction: column;
        gap: 5px;
        align-items: start;
        font-size: 13px;
    }
    .property-price-detail div:first-child {
        font-size: 14.5px;
    }
    .property-name{
        font-size: 18px;
    }
    .property-images{
        height: 220px;
    }
}
@media(max-width:390px){
    .property-images{
        height: 260px;
    }
    .total-properties {
        align-items: flex-start;
        flex-direction: column;
    }
    .total-properties p:first-child{
        display: none;
    }


}