@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
:root {
    --primary-color: #6F4E37;
    --secondary-color: #C4A484;
    --accent-color: #E5D3B3;
    --text-color: #333333;
    --background-color: #F5F5F5;
    --white: #FFFFFF;
    --black: #000000;
}

body {
    font-family: "Rubik", serif;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 16px;
}
a{
    text-decoration: none;
    color: #000;
}
ul{
    padding: 0;
    margin: 0;
}
#navbar-container{
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 5;
}
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 10px;
    width: 90%;
    margin: auto;
}
#hamburger-container{
    padding: 4px 8px;
    display: none;
}
#hamburger-container i{
    font-size: 23px;
}
.create-listing{
    display: flex;
    align-items: center;
    gap: 10px;
}
.create-listing ul.dropdown-menu{
    top:20px !important;
}
.create-listing i{
    font-size: 20px;
    padding: 5px;
}
.create-listing-btn-mobile{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    display: none;
}
#navbar li{
    padding: 2px 10px;
}
#navbar li:hover{
    background-color: var(--secondary-color);
    color: #fff;
}

ul.dropdown-menu{
    /* border: none; */
}
div.btn-group{
    padding: 5px 8px;
}
div.btn-group .dropdown-menu{
    top: 20px !important;
    left: -10px !important;
}
div.btn-group:hover{
    background-color:var(--primary-color);
    color: #fff;
}
button{
    border: none;
    background:none;
}

.fancy {
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 7px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0;
    outline: none;
    overflow: visible;
    padding:10px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 10px;
}
.fancy:hover{
    border: 2px solid var(--primary-color);
}
.fancy::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: black;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 25px;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

.fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
    color: white;
    background:var(--primary-color);
}

.fancy:hover::before {
    width: 0.9375rem;
    background: white;
}

.fancy:hover .text {
    color: white;
    padding-left: 1.5em;
}

.fancy:hover .top-key {
    left: -2px;
    width: 0px;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
}
/* HERO SECTION */
#hero-section{
    width: 100%;
    /* margin-top: 10px; */
    background-image: url("@/assets/img/client-side/bg-hero.png");
    box-shadow: inset 1000rem 1000rem 1000rem #6f4e3779;
}
.hero-section-container{
    width: 90%;
    margin: 0 auto 0 auto;
    display: grid;
    grid-template-columns: 60% calc(40% - 20px);
    gap: 20px;
    padding: 50px 20px;
}
.text-section {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 20px;
    justify-content: end;
}
.text-section p:first-child,.featured-rentals-btn,.news-blog-txt{
    padding: 5px 20px;
    background-color: var(--primary-color);
    color: var(--white);
    width: fit-content;
    border-radius: 10px;
    margin-bottom: 10px !important;
}

.text-section h1{
    font-weight: bold;
    font-size: 60px;
    color: var(--white);
}
.text-section p:nth-child(3){
    font-size: 18px;
    color: #fff;
}
.text-section a:nth-child(4) button{
    font-size: 18px;
    color: #fff;
    border: 1px solid #fff;
    padding: 15px 30px;
    border-radius: 30px;
}
.text-section a:nth-child(4) button:hover{
    background-color: var(--primary-color);
    color: var(--white);
    border: 1px solid var(--primary-color);
}
.img-section{
    padding: 12px;
    background-color: #fff;
    border-radius: 10px;
}
.img-section img{
    border-radius: 10px;
}
#search-container{
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    width: 90%;
    margin: 20px auto;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* SEARCH CONTAINER */
.search-input-box{
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
}
.search-input-box input{
    outline: none;
    border: none;
    width: -webkit-fill-available;
}
.search-input-box input::placeholder{
    color: #000;
}
.search-bar-select-options{
    padding:10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-between;
    gap: 50px;
}
.search-bar-select-options select{
    border: none;
    padding: 7px;
    outline-color: #f5f5f5;
    border-radius: 5px;
}
.search-btn{
    padding-top: 10px;
}
.search-btn button{
    padding: 8px 16px;
    background-color:var(--primary-color);
    color: var(--white);
    border-radius: 10px;
    width: 100%;
}
.searchbar-pattern-container {
    padding:30px 0;
    width: 100%;
    height: 100%;
    /* background: repeating-linear-gradient(45deg, #E5D3B3, #E5D3B3 20px, #C4A484 20px, #C4A484 40px); */
}

/* property cards */
.featured-rentals-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1,1fr);
    gap: 20px;
    overflow: auto;
}
.property-card {
    background: white;
    border-radius: 10px;
    border: 1px solid #c5c5c5;
    overflow: hidden;
    padding: 15px;
    transition: 0.2s ease-in-out;
}
.property-card:hover{
    transform: translateY(-10px);
}
.property-image img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
}
.property-details {
    padding: 10px 0 0 0;
}
.property-title {
    font-size: 20px;
    font-weight: 600;
}
.property-location {
    font-size: 14px;
    color: gray;
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 3px 0;
}
.property-description {
    font-size: 14px;
    color: #555;
    margin: 10px 0;
}
.property-features {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding: 15px 0;
    color: #555;
    border-bottom: 1px solid #c5c5c5;
}
.property-features span{
    display: flex;
    gap: 7px;
    align-items: center;
}
.property-features span p{
    margin-bottom: 0 !important;
}
.property-price {
    font-size: 18px;
    color: #111;
}
.details-button {
    background: none;
    border: 1px solid #222;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}
.details-button:hover{
    background-color: var(--primary-color);
    color: var(--white);
    border: 1px solid var(--primary-color);
}
.rentals-container-main{
    width: 90%;
    margin: 50px auto;
}
.featured-rentals-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
}
.featured-rentals-header h2{
    font-size: 50px;
}
.featured-rentals-header a,.view-all-team,.blogs-txt{
    padding: 8px 16px;
    background-color: var(--primary-color);
    color: #fff;
    height: fit-content;
    border-radius: 10px;
    display: flex;
    align-items: center;

}

.featured-rentals-header a i{
    margin-left: 5px;
}
.line-y{
    min-height: 100%;
    width: 1px;
    background-color: #c5c5c5;
}
.property-last-sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
/* ABOUT us adnan */
.container3{
    display: block;
    background-color:var(--primary-color);
    background-image: url("@/assets/img/client-side/bg-hero.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0px 50px;
    margin-top: 50px;
    box-shadow:inset 1000rem 1000rem 1000rem rgba(0,0,0,0.55);
}
.container3 .box-for-pic1{
    display: flex;
    justify-content: space-between;
    padding: 50px 0 0 0 ;
}
.container3 .box-for-pic1 .pics11,.pics22{
    width: 180px;
    height: 150px;
    border-radius: 10px;
    background-image: url("@/assets/img/client-side/bg-hero.png");
    background-size: cover;

}
.container3 .box-for-pic1 .pics11{
    margin-top: 5px;
}
.container3 .box-for-pic1 .pics22{
    margin-top: 25px;
}

.container3 .box-for-pic1 .about-box{
    display: block;
    width: fit-content;
    text-align: center;
    color: white;
    padding: 8px 0px;
}
.behind p:nth-child(2){
    width: 400px;
    margin:0 auto 10px 0 !important;
}
.behind h1{
    margin: 15px 0;
}
.container3 .box-for-pic1 .about-box .about-us{
    display: block;
    color: white;
}


.container3 .box-for-pic1 .about-box .about-us .empty{
    width: 30px;
    height: 2px;
    background: white;
    margin: auto;
}
.container3 .box-for-pic1 .about-box .two-button{
    display: flex;
    /* align-items: ; */
    justify-content: space-around;
    padding: 10px 0px;

}
.container3 .box-for-pic1 .about-box .two-button .button1,.button2{
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid white;
    padding: 2px 10px;
    border-radius: 20px;

}
.container3 .box-for-pic1 .about-box .two-button .button1 {
    background-color: white;
    color: black;

}
.button1,.button2{
    padding: 8px 14px !important;
}
.button2{
    color: #fff;
}
.container3 .three-pic{
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
}
.container3 .three-pic .pic20{
    background-image: url("@/assets/img/client-side/property.png");
    background-size: cover;
    width: 260px;
    height: 240px;
    border-radius: 10px;

}

.container3 .three-pic .pic{
    width: 440px;
    height: 230px;
    background-image: url("@/assets/img/client-side/hero-section-img.png");
    background-size: cover;
    margin-top: 30px;
    border-radius: 10px;
}
p{
    margin-bottom: 0 !important;
}
/* our team styling */
.team-container-main{
    background-color: var(--secondary-color);
}

#our-team-box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
    width: 80%;
    margin: auto;
}
.our-team-container{
    display: flex;
    align-items: center;
    padding: 50px 0;
}
.team-member{
    border-radius: 20px;
}
.team-member img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 400px;
}
.team-box-right,.team-box-left{
    margin: 30px;
}
.team-box-right i,.team-box-left i{
    padding: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    color: var(--primary-color);
    cursor: pointer;
}
.team-box-right i:active,.team-box-left i:active{
    background-color: var(--primary-color);
    color: var(--white);
}
.team-member{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}
.team-member-info{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}
.team-member-info div:first-child p:first-child{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.2px;
}
.team-member-info div:first-child p:last-child{
    font-size: 14px;
}
.team-member-info div:last-child a{
    font-size: 14px;
    padding: 7px;
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.team-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding: 50px 0 0 0;
    color: #fff;
}
.team-header div:first-child h2{
    font-size: 40px;
}
.view-all-team{
    background: none !important;
    border: 2px solid var(--white);
    color: var(--white);
}
.view-all-team:hover{
    background-color: var(--primary-color) !important;
    border: 2px solid var(--primary-color);

}
.view-all-team i{
    margin-left: 7px;
}

/* BLOGS And News */
.news-container {
    width:85%;
    margin: 30px auto;
    padding: 40px 20px;
}
.news-title {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 !important;
}
.news-slider {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-bottom: 10px;
}
.news-slider::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
}
.news-card {
    min-width: 250px;
    max-width: 280px;
    flex: 0 0 auto;
    border-radius: 15px;
    overflow: hidden;
}
.news-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
}
.news-card-body {
    padding: 15px 0;
}
.news-card-body a{
    color: var(--primary-color);
}
.news-card-body a:hover{
    background-color: var(--primary-color);
    color: var(--white);
}
.news-date {
    font-size: 0.9rem;
    color: gray;
    display: flex;
    gap: 20px;
}
.news-title-text {
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 5px;
}
.news-btn {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    font-weight: 600;
    margin-top: 10px;
    padding: 10px 20px;
    border: 2px solid var(--primary-color);
    border-radius: 30px;
}
.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--primary-color);
    color: var(--white);
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;

}
.slider-btn:hover {
    background: #9c6f4e;
}
.left-btn { left: -60px; }
.right-btn { right: -60px; }

/* Responsive */
@media (max-width: 768px) {
    .slider-btn { display: none; } /* Hide buttons on mobile */
    .news-slider { gap: 10px; } /* Reduce gap */
    .news-container{width: 95%;}
}
.news-blog-txt{
    margin-bottom: 20px !important;
}
.news-blogs-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0px;
}
.blogs-txt i{
    margin-left: 7px;
}
/* Newsletter Section */
.newsletter {
    background: #F4D25A;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}
.newsletter h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 0;
}
.newsletter input {
    flex: 1;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    width: 100%;
}
.newsletter .subscribe-btn {
    background:var(--primary-color);
    color: white;
    border-radius: 50px;
    padding: 10px 20px;
    white-space: nowrap;
}
.subscribe-input-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

/* Footer */
.footer {
    padding: 50px 20px;
}
.footer h5 {
    font-size: 1.2rem;
    margin-bottom: 15px;
}
.footer ul {
    list-style: none;
    padding: 0;
}
.footer ul li {
    margin-bottom: 8px;
}
.footer ul li a {
    text-decoration: none;
    color: #555;
}
.footer ul li a:hover {
    color: black;
}
.social-icons a {
    font-size: 20px;
    /* margin-right: 15px; */
    color: #555;
}
.social-icons a:hover {
    color: black;
}
.footer-bottom {
    background: var(--primary-color);
    color: white;
    padding: 15px 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-bottom a {
    color: var(--white);
    text-decoration: none;
    margin-left: 10px;
}

/* Responsive */
@media (max-width: 768px) {
    .newsletter {
        flex-direction: column;
        text-align: center;
    }
    .newsletter input {
        margin-bottom: 10px;
    }
    .social-icons{
        margin: 10px 0;
        border-bottom: 1px solid gray;
        padding-bottom: 10px;
    }
    #contact-info-footer,#footer-useful-links{
        border-bottom: 1px solid gray;
        padding: 10px;
    }
    #footer-useful-links{
        padding: 15px 10px 8px 10px;
    }
    #explore-footer{
        padding-top: 15px;
    }
    .footer-bottom{
        flex-direction: column;
        gap: 5px;
        font-size: 13px;
    }
    .footer-bottom div:nth-child(2){
        flex-direction: column;
        display: flex;
        order: -1;
        gap: 5px;
    }

}

/* LOGIN SIGNUP STYLING */

.login-root {
    background: #fff;
    display: flex;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}
.formbg{
    border-radius: 10px !important;
}
.formbg-inner{
    padding: 20px;
}
.loginbackground {
    min-height: 692px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 0;
    overflow: hidden;
}
.flex-flex {
    display: flex;
}
.align-center {
    align-items: center;
}
.center-center {
    align-items: center;
    justify-content: center;
}
.box-root {
    box-sizing: border-box;
}
.flex-direction--column {
    -ms-flex-direction: column;
    flex-direction: column;
}
.loginbackground-gridContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: [start] 1fr [left-gutter] (86.6px)[16] [left-gutter] 1fr [end];
    grid-template-columns: [start] 1fr [left-gutter] repeat(16,86.6px) [left-gutter] 1fr [end];
    -ms-grid-rows: [top] 1fr [top-gutter] (64px)[8] [bottom-gutter] 1fr [bottom];
    grid-template-rows: [top] 1fr [top-gutter] repeat(8,64px) [bottom-gutter] 1fr [bottom];
    justify-content: center;
    margin: 0 -2%;
    transform: rotate(-12deg) skew(-12deg);
}
.box-divider--light-all-2 {
    box-shadow: inset 0 0 0 2px #e3e8ee;
}
.box-background--blue {
    background-color: var(--secondary-color);
}
.box-background--white {
    background-color: #ffffff;
}
.box-background--blue800 {
    background-color: var(--accent-color);
}
.box-background--gray100 {
    background-color: var(--accent-color);
}
.box-background--cyan200 {
    background-color: var(--accent-color);
}
.padding-top--64 {
    padding-top: 64px;
}
.padding-top--24 {
    padding-top: 24px;
}
.padding-top--48 {
    padding-top: 48px;
}
.padding-bottom--24 {
    padding-bottom: 24px;
}
.padding-horizontal--48 {
    padding: 48px;
}
.padding-bottom--15 {
    padding-bottom: 15px;
}


.flex-justifyContent--center {
    -ms-flex-pack: center;
    justify-content: center;
}

.formbg {
    margin: 0 auto;
    width: 100%;
    max-width: 448px;
    background: white;
    border-radius: 4px;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}
/* span {
  display: block;
  font-size: 20px;
  line-height: 28px;
  color: #1a1f36;
} */
label {
    margin-bottom: 10px;
}
.reset-pass a,label {
    font-size: 14px;
    font-weight: 600;
    display: block;
}
.reset-pass > a {
    text-align: right;
    margin-bottom: 10px;
}
.grid--50-50 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.field input {
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    width: 100%;
    min-height: 44px;
    border: unset;
    border-radius: 4px;
    outline-color:var(--primary-color);
    background-color: rgb(255, 255, 255);
    border: 2px solid var(--accent-color);
}

/*  Client-side change in vuejs */
.submit-btn {
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    width: 100%;
    min-height: 44px;
    border: unset;
    border-radius: 4px;
    outline-color:var(--primary-color);
    background-color: rgb(255, 255, 255);
    border: 2px solid var(--accent-color);
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    border: 2px solid var(--accent-color);
    color: var(--primary-color);
}

.field-checkbox input {
    width: 20px;
    height: 15px;
    margin-right: 5px;
    box-shadow: unset;
    min-height: unset;
}
.field-checkbox label {
    display: flex;
    align-items: center;
    margin: 0;
}
a.ssolink {
    display: block;
    text-align: center;
    font-weight: 600;
}
.footer-link span {
    font-size: 14px;
    text-align: center;
    display: block;
}
.listing a {
    color: #697386;
    font-weight: 600;
    margin: 0 10px;
}

.animationRightLeft {
    animation: animationRightLeft 2s ease-in-out infinite;
}
.animationLeftRight {
    animation: animationLeftRight 2s ease-in-out infinite;
}
.tans3s {
    animation: animationLeftRight 3s ease-in-out infinite;
}
.tans4s {
    animation: animationLeftRight 4s ease-in-out infinite;
}

@keyframes animationLeftRight {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(1000px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes animationRightLeft {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-1000px);
    }
    100% {
        transform: translateX(0px);
    }
}
input[type="search"]::-webkit-search-cancel-button {
    appearance: none; /* Remove default styling */
    width: 20px;
    height: 20px;
    background: url('@/assets/img/client-side/xmark.svg') no-repeat center;
    background-size: contain;
    cursor: pointer;
}
.footer a:hover{
    text-decoration: underline;
}
