/* breadcrumb
/* ----------------------------------------------------------- */
.breadcrumb-wrap {
	margin-bottom: 10px;
}
.breadcrumb {
	@extend %margin-0;	
	@extend %padding-0;	
	font-size: 13px;
	background-color: transparent;
	@include respond-to(sm-max) {
		font-size: 12px;
	}
	.icon-house {
		margin-#{$end-direction}: 10px;
	}
	.breadcrumb-item-back-to-search {
		margin-#{$end-direction}: 5px;	
	}
}
.breadcrumb-item {
	align-items: center;
	& + .breadcrumb-item {
		&:before {
			content: "\e912";
			font-family: $icon-font;
			font-size: 10px;
		}
	}
	&.breadcrumb-item-back-to-search {
		&:before {
			content: "\e911";
			font-family: $icon-font;
			font-size: 10px;
			margin-#{$end-direction}: 8px;
		}	
	}
	&.breadcrumb-item-home {
		padding-#{$start-direction}: 0 !important;
		&:before {
			content: "";
		}
	}
}