/* forms
/* ------------------------------------------------------------------------ */
.form-control {
    height: 42px;
    // @include respond-to(sm-max) {
    //     height: 50px;
    // }
}
// .form-group-textarea {
//     height: auto;
//     @include respond-to(sm-max) {
//         height: auto;
//     }    
// }
.form-control {
	font-weight: 400;
	border: 1px solid;
    border-color: $border-color;
    .btn {
        @extend %bg-white;
        border: 1px solid;
        border-color: $border-color;
    }
}
.input-group-text {
    background-color: $white;
    border: 1px solid $border-color;
    width: 42px;
    text-align: center;
    justify-content: center;
    color: $placeholder-color;
}
.form-control:disabled, 
.form-control[readonly] {
    background-color: rgba($border-color, .4);
}
/* bootstrap select
/* ------------------------------------------------------------------------ */
.dropdown-menu {
    @extend %small-box-shadow;
    @extend %padding-0;
    border-color: $border-color;
}
.bootstrap-select {
	.dropdown-item {
		padding: 10px 15px;
	}
	.bs-actionsbox {
		padding: 15px 15px 10px;
		.btn-group {
			button	{
				font-size: 12px;
				border-color: $border-color;
				white-space: nowrap;
			}
		}
	}
	.filter-option-inner {
		line-height: 40px
	}	
}
/* custom radio and checkboxes styles
/* ------------------------------------------------------------------------ */
.control {
    color: $placeholder-color;
    min-height: 24px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}
.control__indicator {
    @extend %animation-2s;
    @extend %top-0;
    @extend %background-color-transparent;
    border: 1px solid $border-color;
    @extend %bg-white;
    border-radius: 2px;
}
.control--checkbox .control__indicator::after {
    #{$start-direction}: 6px;
    top: 2px;
    width: 6px;
    height: 10px;
}
.control--radio .control__indicator::after {
    #{$start-direction}: 6px;
    top: 6px;
}
.radio-tab {
    padding: 8px 12px;
    margin-bottom: 0;
    .control__indicator {
        #{$start-direction}: auto;
        #{$end-direction}: 12px;
        top: calc(50% - 10px);
    }
    .radio-tab-inner {
        @extend %absolute;
        @extend %left-0;
        @extend %right-0;
        @extend %top-0;
        @extend %full-width;
        @extend %full-height;
        border: 1px solid $border-color;
        border-radius: 4px;
    }
}
input[type="radio"], 
input[type="checkbox"] {
    margin: 6px 0 0;
}
label.control.control--checkbox.hz-checkbox-0 {
    margin-top: 15px;
}

