/* half map
/* ------------------------------------------------------------------------ */
#map-view-wrap {
	@include respond-to(sm-max) {
		display: none;
	}	
}
.half-map-wrap {
	@extend %full-height;
	@extend %relative;
	@extend %full-width;
	.page-title-wrap {
		padding: 25px;
		@include respond-to(sm-max) {
			padding: 10px 25px;
		}
	}
	.page-title {
		h1 {
			font-size: 18px;
		}
	}
	.listing-switch-view {
		padding-#{$start-direction}: 10px;
	}
	.listing-view {
		padding: 0 25px;
		margin-#{$end-direction}: 0;
		margin-#{$start-direction}: 0;
		@include respond-to(sm-max) {
			padding: 0 10px;
		}
	}
}
.half-map-left-wrap {
	@extend %float-left;
	@extend %relative;
}
.half-map-right-wrap {
	@extend %float-right;
	@extend %relative;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	.pagination-wrap {
		@include respond-to(sm-max) {
			margin-top: 40px;
			margin-bottom: 100px;
		}
	}
}
.advanced-search-half-map {
	padding: 30px 10px;
	.half-map-buttons-wrap {
		flex-wrap: inherit;
		.reset-search-btn {
			margin-#{$start-direction}: 10px;
		}
	}
}
@media (min-width: 1201px) {
	.half-map-left-wrap {
		width: calc(100% - 780px);
	}
	.half-map-right-wrap {
		width: 780px;
	}
}
@media (max-width: 1200px) {
	.half-map-left-wrap {
		width: calc(100% - 640px);
	}	
	.half-map-right-wrap {
		width: 640px;
	}
}
@media (max-width: 991px) {
	.half-map-left-wrap {
		width: calc(100% - 375px);
	}
	.half-map-right-wrap {
		width: 375px;
		.grid-view .item-listing-wrap {
			width: 100%;
			flex-basis: 100%;
		}
	}
	.advanced-search-half-map,
	.listing-switch-view {
		display: none;
	}
	.mobile-search-nav {
		display: block;
	}

}
@media (max-width: 768px) {
	.half-map-left-wrap {
		max-width: 100%;
		width: 100%;
		margin: 0 auto;
		position: relative !important;
		float: none !important;
	}
	.half-map-right-wrap {
		width: 100%;
		position: relative !important;
		float: none !important;
		.grid-view .item-listing-wrap {
			width: 50%;
			float: #{$start-direction};
		}
	}
}
@media (max-width: 575px) {
	.half-map-right-wrap {
		.grid-view .item-listing-wrap {
			width: 100%;
			float: none;
		}
	}
}
.mobile-map-switch {
	@include respond-to(sm-min) {
		display: none;
	}
	@extend %fixed;
	@extend %z-index-3;
	width: 80%;
	margin: 0 10%;
	bottom: 20px;
	background-color: $white;
	border: 1px solid $border-color;
	border-radius: 8px;
	.btn {
		width: 50%;
		&:first-of-type {
			border-#{$end-direction}: 1px solid $border-color;
		}
	}
}
/* listing v4
/* ----------------------------------------------------------- */
.half-map-wrap {
	.listing-view-v4 {
		@include respond-to(md-max) {
			grid-template-columns: 1fr;
		}
		.item-wrap-v10 {
			.item-wrap {
				@include respond-to(lg-max) {
					flex-direction: column;
				}
				@include respond-to(md-max) {
					padding: 0;
				}
				.item-body-wrap {
					.item-body {
						@include respond-to(lg-max) {
							padding: 20px 30px;
						}
						@include respond-to(md-max) {
							padding: 20px;
						}
						.item-price-wrap {
							@include respond-to(md-max) {
								display: block;
							}
						}
					}
				}
				.item-header-wrap {
					flex-direction: column;
					width: 40%;
					@include respond-to(lg-max) {
						flex-direction: column;
						width: 100%;
					}
					@include respond-to(md-max) {
						flex-direction: column;
					}
					.item-header-wrap-left {
						flex-basis: 100%;
						@include respond-to(lg-max) {
							//flex-basis: calc(87.1% - 1px);
    						border-#{$end-direction}: 1px solid #fff;
						}
						@include respond-to(md-max) {
							border-#{$end-direction}: 0;
							flex-basis: auto;
						}
						.item-header-1 {
							border-#{$end-direction}: 0;
							border-bottom: 1px solid $white;
							@include respond-to(lg-max) {
    							border-#{$end-direction}: 1px solid #fff;
    							border-bottom: 0;
							}
						}
						.item-header-1,
						.item-v10-image img {
						    border-top-#{$start-direction}-radius: 6px;
						    border-top-#{$end-direction}-radius: 0;
						    border-bottom-#{$end-direction}-radius: 0;
						    border-bottom-#{$start-direction}-radius: 0;
						    @include respond-to(md-max) {
						    	border-top-#{$end-direction}-radius: 6px;
						    	border-#{$end-direction}: 0;
						    }
						}
					}
					.item-header-wrap-right {
						flex-direction: row;
						flex-basis: 100%;
						column-gap: 1px;
						border-top-#{$start-direction}-radius: 0;
					    border-top-#{$end-direction}-radius: 0;
					    border-bottom-#{$end-direction}-radius: 0;
					    border-bottom-#{$start-direction}-radius: 6px;
    					overflow: hidden;
    					@include respond-to(lg-max) {
							flex-direction: row;
							flex-basis: auto;
							border-radius: 0;
						}
						@include respond-to(md-max) {
							flex-direction: row;
							flex-basis: auto;
						}
					}
				}
				.item-footer-author-tool-wrap {
					@include respond-to(md-max) {
						flex-direction: column;
						padding-#{$start-direction}: 10px;
					}	
					.item-author-wrap {
						@include respond-to(md-max) {
							display: none;
						}
					}
					.item-buttons-wrap {
						@include respond-to(md-max) {
							display: flex;
    						width: 100%;
    						column-gap: 5px;
						}
						.btn {
							@include respond-to(md-max) {
								width: 100%;
							}
						}
					}
				}
			}
		}
	}	
}
