/* main nav
/* ----------------------------------------------------------- */
.main-nav:not(.houzez-nav-menu-main) {
	.nav-link {
		padding-top: 0;
		padding-bottom: 0;
		@include respond-to(lg-min) {
			padding-#{$end-direction}: 15px !important;
			padding-#{$start-direction}: 15px !important;	
		}
	}
	.dropdown-item {
		padding: 15px;
		line-height: 1.5;
		min-width: 250px;
		// &:after {
		// 	transform: rotate(-90deg * $transform-direction);
		// 	margin-top: 3px;
		// }
	}
}
.main-nav,
.houzez-nav-menu-main-desktop-wrap .houzez-nav-menu-main {
	.dropdown-item {
		padding: 5px 10px;
		&:after {
			transform: rotate(-90deg * $transform-direction);
			margin-top: 3px;
		}
	}
	.dropdown-menu {
		@extend %border-none;
		@extend %small-box-shadow;
		@extend %padding-0;
		@extend %margin-0;
		@extend %br-0;

	}
}
.header-main-wrap .main-nav,
.houzez-nav-menu-main-desktop-wrap .houzez-nav-menu-main:not(.houzez-nav-menu-layout-dropdown) {
	.navbar-nav {
		padding-#{$end-direction}: 0;
	}
	ul ul .dropdown-toggle {
		&:after {
			float: #{$end-direction};
		}
	}
	.nav-item {
		@extend %relative;
		@extend %z-index-2;
		&.show {
			& > .dropdown-menu {
				visibility: visible;
				opacity: 1;
				top: 100%;
			}
		}
	}
	.dropdown-menu {
		@extend %display-block;
		visibility: hidden;
		opacity: 0;
		top: 100%;
		&.show {
			@extend %animation-2s;
			transition-delay: .1s;
		}
		.dropdown-menu {
			#{$start-direction}: 100%;
			top: 0;
		}
	}
	.megamenu-item {
		position: static !important;
		z-index: 1;
		&:hover {
			z-index: 2;
		}
	}
	.megamenu {
		@extend %absolute;
		@extend %full-width;
		@extend %left-0;
		@extend %right-0;
		//padding: 0 16px;
		@include respond-to(sm-max) {
			padding: 0 !important;
		}
		&.show {
			.megamenu-submenu {
				opacity: 1;
				visibility: visible;
			}	
		}
		ul {
			@extend %margin-0;
			@extend %padding-0;
		}
		li {
			@extend %list-unstyled;
			list-style: initial;
			&:first-of-type {
				margin-bottom: 10px;
			}
			a {
				border-bottom: none;
			}
		}
		.megamenu-submenu {
			min-width: auto;
			position: relative;
			top: auto;
    		#{$start-direction}: auto;
		}
	}
	.megamenu-row {
		display: grid;
		grid-auto-flow: column;
		gap: 10px;
		.megamenu-column {
			min-width: 0;
		}
	}
}
.houzez-nav-menu-main-desktop-wrap .houzez-nav-menu-main {
	.nav-link {
		padding-#{$start-direction}: 15px;
		padding-#{$end-direction}: 15px;	
	}
}
/* Nav icons options for desktop, mobile and elementor menu
/* ----------------------------------------------------------- */
.main-nav,
.houzez-nav-menu-main-desktop-wrap .houzez-nav-menu-main {
	.dropdown-toggle {
		&:after {
			@extend %border-none;
			display: inline-block;
			vertical-align: middle;
			margin-#{$start-direction}: 10px;
			font-family: $icon-font;
			content: '\e910';
			vertical-align: unset;
			font-size: 10px;
			font-weight: bold;
			float: #{$end-direction};	
		}
	}
	&.with-angle-icon {
		.dropdown-toggle {
			&:after {
				content: '\e910';
				font-family: $icon-font;
			}
		}
	}
	&.with-carret-icon {
		.dropdown-toggle {
			&:after {
				content: '\e90c';
				font-family: $icon-font;
			}
		}
	}
	&.with-plus-icon {
		.dropdown-toggle {
			&:after {
				content: '\e903';
				font-family: $icon-font;
			}
		}
	}
	&.with-no-icon {
		.dropdown-toggle {
			&:after {
				content: '';
			}
		}
	}
}


/* Megamenu basic styles
/* ----------------------------------------------------------- */
.navbar-nav .megamenu-submenu {
	.nav-item {
		//line-height: 40px;
		.nav-link {
			border-bottom: none;
		}
	}
}
/* Megamenu elementor
/* ----------------------------------------------------------- */
.header-main-wrap {
	.main-nav {
		.menu-item-design-full-width {
			.megamenu {
				width: 100vw;
		    	#{$start-direction}: 50%;
		    	transform: translate(-50% * $transform-direction);
			}
		}
	}
}
// .houzez-nav-menu-main-desktop-wrap .main-ele-nav.houzez-nav-menu-main:not(.houzez-nav-menu-layout-dropdown)  .megamenu-item {
// 	position: relative !important;
// }
// .main-ele-nav {
// 	z-index: 9999;
// }

/* Drop-down menu work on hover
/* ----------------------------------------------------------- */
.on-hover-menu {
	background: none;
	margin: 0;
	padding: 0;
	min-height: 20px
}
@media only screen and (min-width: 991px) {
	.on-hover-menu {
		&:not(.houzez-nav-menu-layout-dropdown) {
			ul li,
			ul ul li,
			ul ul ul li {
				position: relative;
				//line-height: normal;
			}
			ul li:hover > ul.dropdown-menu,
			ul ul li:hover > ul.dropdown-menu,
			ul ul ul li:hover ul.dropdown-menu,
			ul li:hover > .dropdown-menu.megamenu {
				opacity: 1;
				visibility: visible;
				transition: all .2s;
			}
			ul ul.dropdown-menu,
			ul ul.dropdown-menu ul,
			ul ul.dropdown-menu ul ul  {
				opacity: 0;
				visibility: hidden;
				transition: all .2s;
				display: block;
				position: absolute;
				top: 100%;
				#{$start-direction}: 0;
				min-width: 250px;
			}
			ul ul.dropdown-menu {
				top: 100%;
				#{$start-direction}: 0;
			}
			ul ul.dropdown-menu ul,
			ul ul.dropdown-menu ul ul {
				top: 0;
				#{$start-direction}: 100%;
			}
			ul li:hover > .dropdown-menu.megamenu .megamenu-submenu {
				opacity: 1;
				visibility: visible;	
			}
		}
	}
}
/* account nav
/* ----------------------------------------------------------- */
.logged-in-nav {
	@extend %animation-2s;
	@extend %absolute;
	@extend %display-block;
	@extend %small-box-shadow;
	@extend %list-unstyled;
	@extend %margin-0;
	@extend %padding-0;
	@extend %right-0;
	@extend %border-none;
	#{$start-direction}: auto;
	min-width: 200px;
	visibility: hidden;
	opacity: 0;
	top: 110%;
	a {
		@extend %display-block;
		line-height: 1.5;
		padding: 15px;
		border-bottom: 1px solid;
	}
}
.navbar-logged-in-wrap {
	@extend %relative;

	& > a {
		&:after {
			@extend %display-none;
		}
	}
	&.show {
		.logged-in-nav {
			visibility: visible;
			opacity: 1;
			top: 100%;
		}
	}
	.logged-in-nav {
		text-align: #{$start-direction};
		.houzez-icon {
			float: #{$start-direction};
			margin-#{$start-direction}: 0 !important;
			margin-#{$end-direction}: 10px;
			margin-top: 3px;
		}
	}
	.dropdown-toggle {
		&:hover {
			background-color: transparent !important;
		}
	}
}
small.nav_desc {
	@extend %display-none;
}
.login-register {
	.btn-icon-login-register {
		&:after {
			@extend %display-none;
		}
		& + .dropdown-menu {
			@extend %left-auto;
			//@extend %background-color-transparent;
			#{$end-direction}: 10px;
			margin-top: 0;
			min-width: auto;	
			@extend %border-none;
			@extend %br-0;
			@extend %small-box-shadow;
			//min-width: auto;
			//padding-top: 40px;
			&:before {
				@extend %absolute;
				@extend %display-block;
				@extend %right-auto;
				top: -5px;
				#{$start-direction}: auto;
				#{$end-direction}: 15px;
				content: "";
				width: 0.625rem;
				height: 0.625rem;
				transform: rotate(45deg);
				border-#{$start-direction}: 10px solid $white;
				border-top: 10px solid $white;
				z-index: 99;
			}
			// &:after {
			// 	@extend %absolute;
			// 	@extend %display-block;
			// 	@extend %right-auto;
			// 	top: -6px;
			// 	#{$start-direction}: auto;
			// 	#{$end-direction}: 15px;
			// 	content: "";
			// 	width: 0.625rem;
			// 	height: 0.625rem;
			// 	transform: rotate(45deg);
			// 	border-#{$start-direction}: 1px solid #dce0e0;
			// 	border-top: 1px solid #dce0e0;
			// }
			a {
				padding: 0 20px;
				line-height: 50px;
				&:hover,
				&:active {
					background-color: transparent;
				}
				.btn-bubble {
					//background-color: #aaa;
					border-radius: 10px;
					padding: 2px 6px;
					font-size: 12px;
					font-weight: bold;
					margin-#{$start-direction}: 8px;
					color: #fff;
				}
			}
		}
	}
	.favorite-link {
		.btn-bubble {
			background-color: $white;
			border-radius: 10px;
			padding: 2px 6px;
			font-size: 12px;
			font-weight: bold;
			margin-#{$start-direction}: 8px;
			color: #004274;
		}
	}
}
@media only screen and (min-width: 991px) {
	.login-register.on-hover-menu:not(.houzez-nav-menu-layout-dropdown) ul li:hover > ul.dropdown-menu {
		#{$start-direction}: auto;
	}
}

/* facebook login
/* ----------------------------------------------------------- */
.hz-fb-main-wrap {
	max-width: 800px;
    margin: 12% auto 0;
   	text-align: center;
}
.hz-fb-wrap {
   	background-color: $white;
   	padding: 30px;
   	margin: 0 2%;
   	@extend %small-box-shadow;
   	.hz-fb-avatar-wrap {
   		width: 180px;
   		height: 180px;
   		border-radius: 50%;
   		border: 4px solid $border-color;
   		overflow: hidden;
   		margin: -130px auto 30px;
   		img {
   			width: 100%;
   			height: 180px;
   			object-fit: cover;
   		}
   		
   	}
}
.hz-fb-header-wrap {
	font-size: 16px;
	.hz-fb-welcome-message {
		font-weight: bold;
		font-size: 18px;
		margin: 0 0 30px;
	}	
}
.hz-fb-footer-wrap {
	@extend %display-flex;
   	border-top: 1px solid $border-color;
	padding: 30px 0 0;
	margin: 30px 0 0;
	justify-content: space-evenly;
	.hz-fb-footer-columns {
		flex-basis: 50%;
		padding: 0 20px;
		p {
			font-size: 12px;
			line-height: 18px;
		}
	}
	.hz-fb-footer-title {
		margin-bottom: 10px;
	}
}
.hz-fb-help-link {
	float: #{$start-direction};
	margin: 10px 0;
}
.hz-fb-form-wrap {
	.form-tools {
		@extend %display-flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 0;
	}
}


















