/* property lightbox
/* ----------------------------------------------------------- */
.property-lightbox {
	margin: 0 20px;
	.modal {
		@extend %animation-2s;
		@extend %display-block;
		visibility: hidden;
		z-index: 9999;
		//overflow-y: hidden;
	}
	.modal.show {
		visibility: visible;
	}
	.d-flex {
		width: calc(100% - 62px);
	}
	.modal-dialog {
		max-width: 100%;
		width: 1600px;
		overflow: hidden;
		@include respond-to(lg-max) {
			max-width: 100%;
			width: 972px;
		}
		@include respond-to(md-max) {
			max-width: 100%;
			width: 760px;
		}
		@include respond-to(sm-max) {
			width: 100%;
			height: 100%;
			margin: 0;
		}
	}
	.modal-header {
		@extend %z-index-5;
		@extend %border-none;
		@extend %relative;
		background-color: $grey-dark;
		color: $white;
		@include respond-to(sm-max) {
			border-radius: 0;
			border-bottom: 1px solid $grey-medium;
			padding-top: 0;
			padding-#{$end-direction}: 0;
			padding-bottom: 0;
			padding-#{$start-direction}: 15px;
			height: 50px;
		}
	}
	.modal-footer {
		@extend %z-index-5;
		@extend %display-none;
		background-color: $grey-dark;
		border-top: 1px solid $grey-medium;
		color: $white;
		text-align: center;
		padding: 10px 0;
		@include respond-to(sm-max) {
			display: block;
			font-size: 12px;
		}
	}
	.modal-content {
		@extend %border-none;
		@include respond-to(sm-max) {
			height: 100%;
			border-radius: 0;
			background-color: $grey-dark;
		}
	}
	.modal-body {
		@extend %padding-0;	
	}
	.close {
		@extend %padding-0;	
		@extend %margin-0;	
		@extend %absolute;
		color: $white;
		opacity: 1;
		height: 57px;
		width: 57px;
		top: 0px;
		#{$end-direction}: 0;
		@include respond-to(sm-max) {
			border-#{$start-direction}: 1px solid $grey-medium;
			margin: 0;
			width: 59px;
			height: 50px;
		}
		span {
			position: relative;
    		top: -3px;
		}
	}
	.separator {
		margin: 0 10px;
	}
	.btn-email {
		@extend %display-none;
		@include respond-to(sm-max) {
			display: inline-block;
		}	
	}
	.lightbox-tools .btn-share .dropdown-menu {
		margin-top: 18px;
	}
}
.lightbox-title {
	@include respond-to(sm-max) {
		display: none;
	}
}
.lightbox-tools {
	ul {
		@extend %margin-0;		
		@extend %padding-0;	
		li:first-of-type {
			@include respond-to(sm-max) {
				margin-#{$end-direction}: -3px !important;
			}
		}	
	}
	a {
		color: $white;
		@include respond-to(sm-max) {
			display: inline-block;
			font-size: 16px;
			border-#{$start-direction}: 1px solid $grey-medium;
			height: 50px;
			width: 50px;
			line-height: 50px;
			text-align: center;
		}
	}
	i {
		margin-#{$end-direction}: 5px;
		@include respond-to(sm-max) {
			margin: 0;
		}
	}
	.display-none {
		@include respond-to(sm-max) {
			display: none;
		}
	}
	.btn-share {
		@include respond-to(sm-max) {
			display: none;
		}	
	}
}
.lightbox-logo {
	margin-top: -5px;
	margin-#{$end-direction}: 30px;
	@include respond-to(sm-max) {
		flex-grow: 1;
		margin-top: -3px;
	}
	img {
		//width: 80px;
		max-height: 24px;
	}
}

.lightbox-gallery {
	@include respond-to(sm-max) {
		position: relative; 
		top: 50%;
		transform: translateY(-50%);
	}	
}
.lightbox-gallery-wrap {
	//@extend %animation-2s;
	@extend %float-left;
	@extend %relative;
	padding: 15px;
	width: 75%;
	@include respond-to(lg-max) {
		width: 70%;
	}
	@include respond-to(md-max) {
		width: 100%;
		height: 100%;
		
	}
	@include respond-to(sm-max) {
		position: absolute;
	}
	.btn-expand {
		@extend %absolute;
		@extend %z-index-1;
		@extend %display-block;
		cursor: pointer;
		top: 15px;
		#{$end-direction}: 15px;
		background-color: $white;
		height: 40px;
		width: 40px;
		line-height: 40px;
		text-align: center;
		@include respond-to(sm-max) {
			display: none;
		}
	}
}
.lightbox-gallery-full-wrap {
	width: 100%;
	& + .lightbox-form-wrap {
		@extend %display-none;
		@include respond-to(md-max) {
			display: block;
			visibility: visible;
			width: 300px;
			padding: 15px;
			z-index: 1;
			#{$end-direction}: 0;
		}
		@include respond-to(sm-max) {
			display: none;
		}
	}
	.btn-expand {
		@include respond-to(md-max) {
			#{$end-direction}: 300px;
		}
	}
}
.lightbox-form-wrap {
	@extend %animation-2s;
	@extend %float-right;
	@extend %full-height;
	background: white;
	padding-top: 15px;
	padding-#{$end-direction}: 15px;
	padding-bottom: 15px;
	padding-#{$start-direction}: 0;
	width: 25%;
	@include respond-to(lg-max) {
		width: 30%;
	}
	@include respond-to(md-max) {
		visibility: hidden;
		#{$end-direction}: -300px;
		position: absolute;
	}
	&.lightbox-form-wrap-show {
		@extend %right-0;
		@extend %full-width;
		visibility: visible;
		height: calc(100% + 45px);
		padding: 15px;
		z-index: 6;
	}
}
.lightbox-tools {
	.btn-share {
		.dropdown-toggle {
			&:after {
				@extend %display-none;
			}	
		}
		.dropdown-menu {
			margin-top: 23px;
			border-top-#{$start-direction}-radius: 0;
			border-top-#{$end-direction}-radius: 0;
			border-bottom-#{$end-direction}-radius: 4px;
			border-bottom-#{$start-direction}-radius: 4px;
		}
	}
}
.lightbox-nav {
	margin-#{$end-direction}: 0 !important;
	a {
		@extend %display-inline-block;
		@extend %relative;
		line-height: 30px;
		height: 30px;
		width: 30px;
		text-align: center;
		border: 1px solid $white;
		border-radius: 4px;
		font-size: 12px;
		i {
			transform: rotate(180deg * $transform-direction);
			//@extend %absolute;
			width: 100%;
    		top: 7px;
    		#{$start-direction}: 0;
			margin-#{$end-direction}: 0;
			-webkit-text-stroke: 0.5px;
		}
	}
}
/* property lightbox v2 and 3
/* ----------------------------------------------------------- */
.property-lightbox-v2,
.property-lightbox-v3 {
	.modal {
		overflow: hidden;
	}
	.modal-header {
		background-color: $white;
		align-items: center;
		> * {
			flex: 1 1 0%;
		}
	}
	.modal-dialog {
		margin: 0 auto;
		max-width: 1280px;
	}
	.modal-content {
		border-radius: 0;
		border: none;
	}
	.lightbox-logo {
    	margin-right: 0;
    	display: flex;
    	justify-content: center;
	}
	.back-btn-wrap {
		font-weight: 600;
		i {
			margin-#{$end-direction}: 8px;
		}
	}
}
.property-lightbox-v2-item-tools,
.property-lightbox-v3-item-tools {
	justify-content: flex-end;
}
.property-lightbox-v2-content-wrap,
.property-lightbox-v3-content-wrap {
	@extend %display-flex;
	height: calc(100vh - 65px);
	@include respond-to(sm-max) {
			overflow: scroll;
		}
}
.property-lightbox-v2-gallery,
.property-lightbox-v2-content,
.property-lightbox-v3-content {
	height: calc(100vh - 65px);
	background-color: $white;
	overflow: scroll;
}
.property-lightbox-v2-section-top,
.property-lightbox-v3-section-top {
	padding: 0;
	background-color: $white;
	.property-lightbox-v2-section-top-content {
		padding: 30px;
		border-bottom: 1px solid $border-color;
	}
	.item-title {
		font-size: 22px;
	}
	.item-price-wrap {
		@extend %relative;
		#{$start-direction}: auto;
		margin-bottom: 4px;
		bottom: auto;
		color: $text-color;
		.item-price {
			@extend %display-inline;
			font-size: 24px;
		}
		.item-sub-price {
			@extend %display-inline;
			margin-#{$start-direction}: 10px;
		}
	}	
	.item-address {
		font-size: inherit;
		//color: $text-color;
	}
	.item-amenities {
		margin-bottom: 24px;
	}
}

.property-lightbox-v2-item-tools,
.property-lightbox-v3-item-tools {
	@extend %display-flex;
	@extend %padding-0;
	@extend %margin-0;
	list-style: none;
	span {
		@extend %animation-2s;
		@extend %br-4;
		margin-#{$start-direction}: 4px;
		text-align: center;
		display: inline-block;
		line-height: 32px;
		width: 32px;
		height: 32px;
		&:hover {
			cursor: pointer;
		}
	}
}
.property-lightbox-v2-labels-wrap,
.property-lightbox-v3-labels-wrap {
	@extend %display-flex;
	align-items: center;
	margin-bottom: 16px;
	.label {
		margin-#{$end-direction}: 4px;
	}
	.label-featured {
		@extend %relative;
		top: auto;
		#{$start-direction}: auto;
	}	
}

.property-lightbox-v2-section,
.property-lightbox-v3-section {
	padding: 30px;
	border-bottom: 1px solid $border-color;
	.btn-half-width:first-of-type {
		float: #{$start-direction};
	}
	.block-wrap {
		padding: 0;
		margin-top: 0;
	}
	.block-title-wrap {
		border-bottom: none;
    	margin-bottom: 20px;
    	padding-bottom: 0;
	}
	.property-schedule-tour-wrap {
		.col-md-6.col-sm-12,
		.col-md-4.col-sm-12 {
			flex: 0 0 100%;
    		max-width: 100%;
		}
		.btn-sm-full-width {
			width: 100%;
		}
		.property-schedule-tour-image {
			@extend %display-none;
		}
		.property-schedule-tour-form-wrap {
			padding-#{$start-direction}: 0;
		}
	}
	.property-address-wrap,
	.property-detail-wrap {
		.list-2-cols {
			columns: 1;
		}
	}
	.property-features-wrap {
		.list-3-cols {
			columns: 2;
		}	
	}
	.property-mortgage-calculator-wrap {
		.d-flex {
			flex-direction: column;
			align-items: flex-start !important;
		}
		.mortgage-calculator-chart, 
		.mortgage-calculator-data {
			padding: 0;
			width: 100%;
			li {
				padding: 0;
			}
		}
		#mortgage-calculator-chart {
			margin: 0;
		}
		.mortgage-calculator-monthly-payment-wrap {
			width: 39%;
		    text-align: #{$start-direction};
		    #{$end-direction}: 0;
		}

	}
	.property-floor-plans-wrap {
		.accordion {
			.accordion-tab {
				border-bottom: none;
				&:last-of-type {
					.accordion-header {
						padding: 10px 0 0;
					}
				}
			}
			.accordion-header {
				padding: 10px 0;
				.d-flex {
					flex-direction: column;
					align-items: start !important;
				}
			}
			.accordion-title {
			    max-width: 100%;
			    white-space: normal;
			    margin-#{$end-direction}: 0;
			    margin-bottom: 2px;
			}
			.accordion-header {
				.floor-information {
					flex-wrap: wrap;
				}
			}
		}
		
	}
	
	.property-energy-class-wrap {
		.class-energy-list {
			li {
				padding: 5px 0;
				line-height: 24px;
			}
			span {
				float: none;
			}
		}
	}
	.property-review-wrap {
		margin-top: 0;
		.sort-by {
			display: none;
		}
	}
	.similar-property-wrap {
		margin-top: 0;
		padding-bottom: 0;
		border-bottom: none;
	}
	.similar-property-wrap,
	.property-sub-listings-wrap {
		.grid-view {
			&.card-deck {
				margin-#{$end-direction}: -20px;
    			margin-#{$start-direction}: -20px;
			}
			.item-listing-wrap {
				//width: 100%;
    			//flex-basis: 100%;
    			padding: 5px;
    			// &:last-of-type {
    			// 	margin-bottom: 0 !important;
    			// }
			}
		}
	}
	.property-sub-listings-wrap {
		.block-title-wrap {
		    padding-top: 0;
		    text-align: left;
		}
	}
	.item-listing-wrap-v6-modal-window {
		margin-bottom: 10px;
		.item-wrap-v6 {
			box-shadow: none;
			.item-body {
				padding: 10px 0 0;
			}
			.item-header {
    			border-radius: 4px;
    		}
		}
		.item-price-wrap {
			margin-bottom: 5px;
			.item-price {
				font-weight: 500;
				font-size: 16px;
			}
		}
		.item-amenities i {
    		font-size: 16px;
		}
	}
	.property-review-wrap,
	.property-contact-agent-wrap {
		.btn-sm-full-width {
			width: 100%;
			margin-bottom: 5px;
		}
	}
	
}
.property-mortgage-calculator-wrap-v2,
.property-mortgage-calculator-wrap-v3 {
	.morgage-chart-results-wrap {
		flex-direction: column;
	}
	.morgage-results {
		width: 100%;
	}
	.mortgage-calculator-data {
		li {
			//border-bottom: none;
		}
	}
	.top-form-wrap {
		padding: 20px 10px;
		.col,
		.col-4 {
			flex: 0 0 50%;
			max-width: 50%;
		}
	}
	.down-payment-percentage-input {
		width: 50%;
	}
	.form-control {
		text-align: left;
	}
}
.property-lightbox-v2-sections-navigation,
.property-lightbox-v3-sections-navigation {
	@extend %padding-0;
	@extend %margin-0;
	flex-wrap: nowrap;
	@include respond-to(sm-max) {
		display: none;
	}
	.nav-link {
		white-space: nowrap;
		color: $text-color;
		&.active {
			border-bottom: 3px solid;
			color: inherit;
		}
	}
	.slick-slide {
		padding: 20px 10px;
		border-bottom: 3px solid transparent;
		color: $text-color;
		&.current-section {
			border-bottom: 3px solid;
		}
	}
	.slick-prev,
	.slick-next {
		height: 100%;
		border-radius: 0;
		background-color: $white;
		&:hover,
		&:active,
		&:focus {
			background-color: $white;
		}
		&:before {
			color: inherit;
		}
	}
	.slick-prev {
		#{$start-direction}: 0;
	}
	.slick-next {
		#{$end-direction}: 0;
	}
}
.property-lightbox-nav {
	flex-wrap: nowrap;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	.nav-link {
		white-space: nowrap;
	}
	.nav-item a {
		color: $grey;
		padding: 16px 24px;
		font-size: 14px;
	}
}
.property-lightbox-nav::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.property-lightbox-nav {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
/* property lightbox v2
/* ----------------------------------------------------------- */
.property-lightbox-v2-section {
	&.property-lightbox-v2-section-top {
		padding: 0;
	}
} 
.property-lightbox-v2-sections-wrap {
	height: 100%;
	@include respond-to(sm-max) {
		overflow-y: unset; 
	}
	.block-wrap {
		@include respond-to(sm-max) {
			border-top: none;
		}	
	}
	.walkscore_details {
		align-items: flex-start;
	}
	.property-walkscore-wrap {
		.block-title-wrap {
			flex-direction: column;
			margin-top: 0;
			align-items: start !important;
		}
		.houzez-desktop-layout-3cols {
			grid-template-columns: 1fr;
		}
	}
	.property-nearby-wrap {
		.what-nearby {
			dt {
				margin-bottom: 0px;
			}
			dd {
				padding: 10px 0;
				border-bottom: none;
			}
			.what-nearby-left,
			.what-nearby-right {
				float: none;
				width: 100%;
				text-align: left;
			}
		}
	}
}
.property-lightbox-v2-section-top {
	position: sticky;
	top: 0;
	z-index: 1000;
}
.property-lightbox-v2-gallery {
	@extend %absolute;
	overflow-y: scroll;
	#{$start-direction}: 0;
	width: 50%;
	display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 2px;
		&.open {
			width: 100%;
		}
		@include respond-to(md-max) {
			width: 40%;
			grid-template-columns: 1fr;
			gap: 0;
		}
		@include respond-to(sm-max) {
			display: none;
		}
		.property-lightbox-v2-gallery-item {
			@include respond-to(md-max) {
				margin-bottom: 1px;
			}
			img {
				@extend %animation-2s;
				opacity: 1;
				object-fit: cover;
			}
			&:first-child {
				grid-column: span 2;
		}
		&:hover {
			img {
				opacity: .65;
			}
		}
	}
}
.property-lightbox-v2-carousel {
	@include respond-to(sm-min) {
		display: none;
	}
}
.property-lightbox-v2-gallery-item {
	@include respond-to(sm-max) {
		border-right: 1px solid $white;
	}	
}
.property-lightbox-v2-content {
	@extend %absolute;
	#{$end-direction}: 0;
	width: 50%;
	@include respond-to(md-max) {
		width: 60%;
	}
	@include respond-to(sm-max) {
		width: 100%;	
		height: 100%;
		position: relative;
		overflow: unset;
	}
	.lightbox-logo {
		margin-top: 0;
		img {
			@extend %full-width;
			max-width: 100px;
		}
	}
}
/* property lightbox v3
/* ----------------------------------------------------------- */
.property-lightbox-v3-gallery {
	.property-lightbox-v3-section {
		padding: 30px 30px 0;	
		border-bottom: none;
	}	
	.property-banner-grid-wrap {
		@include respond-to(md-max) {
			grid-template-columns: 1fr;
		}
	}
	.property-banner-inner-rght {
		@include respond-to(md-max) {
			grid-template-columns: repeat(4, 1fr);
		}
		@include respond-to(sm-max) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}
.property-lightbox-v3-section {
	padding: 30px 0;
	&.no-border {
		border-bottom: none;
	}
	.block-availability-calendars .weekdays li[style],
	.block-availability-calendars .days li[style] {
		height: auto !important;
		line-height: normal !important;
	    // padding-bottom: 100%;
	    // display: flex;
	    // align-items: center;
	    // justify-content: center;
	}
	.block-availability-calendars .weekdays li {
		display: flex;
	    justify-content: center;
	    position: relative;
	    width: 100%;
	    padding: 10px 0;
	}
	.block-availability-calendars .days li {
		width: 100%;
    	padding-bottom: 100%;
	    display: flex;
	    justify-content: center;
	    position: relative;
	}
	.block-availability-calendars {
		.day-number {
    		position: absolute;
		    display: block;
		    top: calc(50% - 7px);
    	}
	}
	.block-availability-calendars .weekdays,
	.block-availability-calendars .days {
		display: grid;
    	grid-template-columns: repeat(7, 1fr);
	}
	.block-wrap {
		border-top: none;
	}
	.item-address {
		@include respond-to(md-max) {
			white-space: normal;
		}
	}
	.property-overview-wrap-v2 .property-overview-data {
		@include respond-to(sm-max) {

		}
	}
}
.property-lightbox-v3-content-wrap {
	flex-direction: column;
}
.property-lightbox-v3-content-left-right-wrap {
	display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 0;
    @include respond-to(md-max) {
    	grid-template-columns: 1fr;
    }
}
.property-lightbox-v3-content-left {
	padding: 0 30px;
}
.property-lightbox-v3-section {
	.property-banner-item .img-wrap-3-text {
		@extend %absolute;
	    bottom: 20px;
	    #{$end-direction}: 20px;
	    background-color: $white;
	    color: $text-color;
	    padding: 5px 15px;
	    border-radius: 20px;
	    font-size: 14px;
	    @include respond-to(sm-max) {
	    	padding: 0px 10px;
	    	font-size: 12px;
	    	#{$end-direction}: 10px;
	    	bottom: 10px;
	    }
	}
	.item-address {
		margin-bottom: 0;
	}
}
.property-lightbox-v3-content-right {
	padding: 30px;
	.tab-content {
		border: 1px solid $border-color;
	}
	.property-form-tabs {
		.nav-tabs {
			margin-bottom: -1px;
		}
		.nav-link {
			&.active {
				border: 1px solid $border-color;
				border-bottom: 1px solid $white;
			}
		}
	}
}
.property-lightbox-v3-sections-navigation-wrap {
	border-bottom: 1px solid $border-color;
	margin-bottom: -60px;
	position: relative;
    z-index: 999;
	background-color: $white;
}

.property-lightbox-v3-sections-navigation-wrap.navigation-wrap-hidden {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}

.property-lightbox-v3-sections-navigation-wrap.navigation-wrap-visible {
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
}
.property-lightbox-v3-modal-header {
	position: relative;
	z-index: 1001;
}
.property-lightbox-v3-section-top {
	@include respond-to(md-max) {
		display: grid;
		grid-template-columns: 2fr 1fr;
		grid-column-gap: 30px;
	}
	@include respond-to(sm-max) {
		grid-template-columns: 1fr;
	}
	.property-lightbox-v2-contact-buttons-wrap {
		display: none;
		@include respond-to(md-max) {
			display: grid;
			grid-template-columns: 1fr;
			grid-row-gap: 10px;
		}
		@include respond-to(sm-max) {
			margin-top: 20px;
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-column-gap: 10px;
		}
		@include respond-to(xs-max) {
			display: grid;
			grid-template-columns: 1fr;
			grid-row-gap: 10px;
		}
	}
}