/* agents agencies page
/* ----------------------------------------------------------- */
.agents-template-wrap, 
.agencies-template-wrap {
    padding-bottom: 30px;
}
/* agent and developer list
/* ----------------------------------------------------------- */

.agent-list-wrap,
.developer-list-wrap {
	@extend %mb-20;
	padding: 30px;
	background-color: $white;
	@include respond-to(xxs) {
		padding: 20px;
	}
	.agent-list-image,
	.developer-list-image {
		margin-#{$end-direction}: 30px;
		max-width: 240px;
		@include respond-to(sm-max) {
			max-width: 120px;
		}
		@include respond-to(xxs) {
			margin-#{$end-direction}: 20px;
			max-width: 80px;
		}
	}
	.agent-list-position,
	.developer-list-position {
		color: $grey;
		@include respond-to(xxs) {
			margin-top: 5px;
		}
	}
	.agent-list-content,
	.developer-list-content {
		h2 {
			font-size: 18px;
			line-height: 24px;
			margin-bottom: 5px;
			white-space: nowrap;
			margin-#{$end-direction}: 5px;
			@include respond-to(xxs) {
				font-size: 16px;
			}
			a {

			}
		}
	}
	.agent-list-contact,
	.developer-list-contact {
		li {
			clear: both;
			border-bottom: 1px solid $border-color;
			line-height: 30px;
			a,
			span {
				@extend %float-right;
			}
		}
	}
	.agent-social-media,
	.developer-social-media {
		@include respond-to(sm-max) {
			margin-bottom: 10px;
			display: flex;
    		margin-top: 20px;
		}
		span {
			margin-#{$end-direction}: 3px;
		}
	}
	.agent-list-link,
	.developer-list-link {
		white-space: nowrap;
	}
}
.developer-list-wrap {
	@extend %br-4;
	padding: 0;
	overflow: hidden;
	.developer-list-content {
		padding-#{$start-direction}: 0;
		padding-#{$end-direction}: 30px;
		justify-content: center;
		display: flex;
		flex-direction: column;
	}
}
.agent-list-wrap .agent-list-contact li.email,
.agent-list-wrap .agent-list-contact li.email a,
.developer-list-wrap .developer-list-contact li.email,
.developer-list-wrap .developer-list-contact li.email a {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.agent-list-wrap .agent-list-contact li.email a,
.developer-list-wrap .developer-list-contact li.email a {
	@include respond-to(sm-max) {
		display: inline-block;
		max-width: 150px;
	}
}
/* agent grid
/* ----------------------------------------------------------- */
.agents-grid-view,
.agencies-grid-view,
.developers-grid-view {
	display: grid;
	grid-row-gap: 20px;
	grid-column-gap: 20px;
	&.agents-grid-view-3cols,
	&.agencies-grid-view-3cols,
	&.developers-grid-view-3cols {
		grid-template-columns: repeat(3, 1fr);
		@include respond-to(sm-max) {
			grid-template-columns: repeat(2, 1fr);
		}
		@include respond-to(xxs) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
	&.agents-grid-view-4cols,
	&.agencies-grid-view-4cols,
	&.developers-grid-view-4cols {
		grid-template-columns: repeat(4, 1fr);
		@include respond-to(md-max) {
			grid-template-columns: repeat(3, 1fr);
		}
		@include respond-to(sm-max) {
			grid-template-columns: repeat(2, 1fr);
		}
		@include respond-to(xxs) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}
.agents-grid-view,
.developers-grid-view {
	.agent-grid-wrap,
	.developer-grid-wrap {
		display: flex;
		flex-direction: column;
		border-radius: 4px;
		border: 1px solid $border-color;
		background-color: $white;
	}
	.agent-grid-image-wrap,
	.developer-grid-image-wrap {
		padding: 20px;
		text-align: center;
		.agent-grid-image,
		.developer-grid-image {
			display: block;
			width: 100px;
			height: 100px;
			border-radius: 50%;
			overflow: hidden;
			margin: 10px auto 30px;
		}
	}
	h2,
	h3 {
		font-size: 16px;
		a {
			color: $text-color;
		}
	}
	.agent-list-contact,
	.developer-list-contact {
		flex: 1;
		font-weight: 300;
		color: $grey-medium;
	}
	.agent-list-position,
	.developer-list-position {
		text-transform: uppercase;
		font-size: 13px;
		color: $grey-medium;
		font-weight: 300;
	}
	.rating-score-wrap {
		padding-#{$start-direction}: 0;
	}
	.agent-grid-content-wrap {
		display: flex;
		flex-direction: column;
		flex: 1;
		padding: 20px;
		text-align: center;
		border-top: 1px solid $border-color; 
	}
	.developer-grid-content-wrap {
		display: flex;
		flex-direction: column;
		flex: 1;
		padding: 0 20px 20px;
		text-align: center;
		//border-top: 1px solid $border-color; 
	}
	.agent-grid-wrap-v2,
	.developer-grid-wrap-v2 {
		.agent-grid-image-wrap,
		.developer-grid-image-wrap {
			padding: 0 0 20px;
			text-align: center;
			.agent-grid-image,
			.developer-grid-image {
				position: relative;
				display: block;
				width: 100%;
				height: auto;
				border-radius: 4px 4px 0 0;
				overflow: hidden;
				margin: 0 auto 30px;
				.agent-company-logo,
				.developer-company-logo {
					background-color: transparent;
					padding: 0px;
				}
			}
		}
	}
}

/* agency grid
/* ----------------------------------------------------------- */
.agencies-grid-view {
	.agency-grid-wrap {
		display: flex;
		flex-direction: column;
		border-radius: 4px;
		border: 1px solid $border-color;
		background-color: $white;
	}
	.agency-grid-image-wrap {
		padding-bottom: 20px;
		text-align: center;
		.agency-grid-image {
			display: block;
			width: 160px;
			height: auto;
			margin: 30px auto;
		}
		h2 {
			font-size: 16px;
			a {
				color: $text-color;
			}
		}
	}
	.agency-list-contact {
		flex: 1;
		font-weight: 300;
		color: $grey-medium;
	}
	.rating-score-wrap {
		padding-#{$start-direction}: 0;
	}
	.agency-grid-content-wrap {
		display: flex;
		flex-direction: column;
		flex: 1;
		padding: 20px;
		text-align: center;
		border-top: 1px solid $border-color; 
	}
}

/* agent stats
/* ----------------------------------------------------------- */
.agent-stats-wrap,
.agent-profile-wrap,
.agent-bio-wrap {
	@extend %mb-30;
	@extend %br-4;
	padding: 40px;
	background-color: $white;
	@include respond-to(sm-max) {
		padding: 30px;
	}
}
.agent-profile-wrap {
	@extend %mt-30;
	@extend %br-4;
	h1 {
		font-size: 24px;
		line-height: 34px;
	}
	.rating-score-wrap {
		padding-#{$start-direction}: 0;
	}
	.rating-score-text {
		margin-#{$end-direction}: 10px;
	}
	.stars {
		margin-#{$end-direction}: 10px;
	}
	.agent-image {
		@extend %relative;
		text-align: center;
		@include respond-to(sm-max) {
			margin-bottom: 20px;
		}
	}
}
.agent-company-logo {
	@extend %absolute;
	#{$start-direction}: 5px;
	bottom: 5px;
	max-width: 150px;
	background-color: $white;
}
.agent-profile-top-wrap {
	border-bottom: 1px solid $border-color;
	@extend %mb-20;
}
.agent-profile-content {
	@extend %mb-20;
	li {
		margin-bottom: 5px;
	}
}
.agent-profile-buttons {
	.btn {
		min-width: 150px;
		margin-#{$end-direction}: 10px;
		@include respond-to(sm-max) {
			margin-bottom: 10px;
			width: 100%;
		}
	}
}
.agent-profile-chart-wrap {
	@include respond-to(md-max) {
		margin-bottom: 30px;
	}
	h2 {
		font-size: 16px;
		line-height: 26px;
		@extend %mb-20;
		span {
			@extend %font-weight-300;
		}
	}
}
.agent-profile-chart {
	@extend %relative;
	margin-#{$end-direction}: 10px;
	top: -6px;
}
.agent-profile-data {
	ul {
		@extend %margin-0;
		@extend %padding-0;
	}
}
.agent-bio-wrap {
	h2 {
		font-size: 18px;
		@extend %mb-20;
	}
	p {
		&:last-of-type {
			@extend %margin-0;
		}
	}
}
.agent-contacts-wrap {
	@extend %mb-30;
	@extend %br-4;
	padding: 30px;
	background-color: $white;
	.agent-map {
		address {
			@extend %mt-10;
		}
	}
	li {
		clear: both;
		border-bottom: 1px solid $border-color;
		line-height: 35px;
		span,
		a {
			@extend %float-right;
		}
	}
	p {
		font-size: 12px;
		margin-bottom: 5px;
		color: $grey;
		text-align: center;
	}
}
.sidebar-wrap {
	.agent-contacts-wrap {
		.agent-social-media {
			font-size: 16px;
		}
	}
}
.agent-nav-wrap {
	margin: 50px 0;
	text-align: center;
	margin-#{$start-direction}: -5px;
	margin-#{$end-direction}: -5px;
	.nav-pills .nav-link {
		@extend %br-4;
		border: 1px solid;
		margin: 0 5px;
		padding: 15px 0;
		&.active {
			color: $white !important;
		}
	}
}
.agent-profile-header {
	margin-bottom: 9px;
}
.agent-verified-badge {
	@extend %relative;
	font-size: 10px;
	font-weight: 400;
	top: -2px;
	padding: 5px 7px;
	text-transform: uppercase;
}
/* agent detail page v2
/* ----------------------------------------------------------- */
.agent-detail-page-v2 {
	.agent-profile-top-wrap {
		@extend %flex-align;
	    flex-wrap: wrap;
	    align-items: center;
	    border-bottom: none;
	    margin-bottom: 0;
	    @include respond-to(xxs) {
			flex-direction: column;
			text-align: center;
		}
	}
	.agent-profile-wrap {
		border-radius: 0;
		margin: 0;
		padding: 60px 0;
		background-color: rgba($brand-color, 95%);
		@include respond-to(sm-max) {
			padding: 20px 0;
		}
		.agent-image,
		.agency-image {
		    width: 150px;
		    height: auto;
		    border-radius: 50%;
		    overflow: hidden;
		    @include respond-to(sm-max) {
				width: 120px;
			}
		}
	}
	.agent-profile-header {
		margin: 10px 0 0;
		padding: 0 50px;
		@include respond-to(sm-max) {
			padding: 0;
		}
		h1 {
			color: $white;
    		font-size: 24px;
    		line-height: 24px;
    		margin-bottom: 8px;
    		margin-top: 5px;
    		@include respond-to(sm-max) {
				font-size: 18px;
				line-height: 18px;
			}
		}
	}
	.agent-nav-wrap {
		margin: 0;
		border-bottom: 1px solid $border-color;
		margin-bottom: 35px;
		.nav-link {
			color: $text-color;
			padding: 22px 48px 20px;
		    font-size: 15px;
		    font-weight: 600;
		    @include respond-to(sm-max) {
				padding: 22px 16px 20px;
    			font-size: 14px;
			}
			&.active {
				border-bottom: 3px solid $primary-color;
				color: $primary-color;
			}
		}
	}
	.listing-tabs {
		.nav-link {
			min-width: 80px;
			background-color: transparent;
			&.active {
				color: $primary-color;
			}
		}
	}
	.agent-list-position {
		a {
			color: $white;
			text-transform: uppercase;
			font-size: 13px;
		}
	}
	.agent-profile-cta {
		margin-top: 20px;
		font-weight: 600;
	}
	.rating-score-text,
	.agent-profile-address address {
		color: $white;	
	}
	.agent-profile-address {
		margin-top: 7px;
	}
	.agent-profile-content {
		margin: 0;
		ul {
			margin: 0;	
			li {
				margin-bottom: 20px;
			}
		}		
	}
	.agent-profile-content,
	.agent-stats-wrap,  
	.agent-bio-wrap,
	.agent-review-title-wrap,
	.agent-stats-wrap,
	.agent-contacts-wrap {
		padding: 0 0 30px;
		margin-bottom: 30px;	
		border-bottom: 1px solid $border-color;
		@include respond-to(sm-max) {
			padding: 30px 0;
		}
	}
	.agent-review-title-wrap {
		padding: 60px 0 0;
		@include respond-to(sm-max) {
			padding: 30px 0 0;
		}
	}
	.agent-contacts-wrap {
		li {
			line-height: inherit;
			padding: 5px 0;
			border-bottom: none;
			address {
				margin: 0;
			}
		}
		ul {
			margin: 0 0 30px;
		}
		.agent-social-media {
			text-align: center;
		}
		p {
			border-top: 1px solid $border-color;
			text-align: #{$start-direction};
			font-size: 13px;
			margin-bottom: 10px;
			padding-top: 30px;
		}
		.agent-social-media {
			text-align: #{$start-direction};	
			font-size: 20px;
		}
	}
	.property-review-wrap {
		margin-top: 0;
		padding: 0;
	}	
	.agent-profile-chart-wrap {
		margin-bottom: 30px;
		.agent-profile-chart {	
  			margin-bottom: 10px;
  			top: 0px;
		}
		.agent-profile-data {
			font-size: 14px;
		}
	}
	.sidebar-wrap {
		margin-top: 17px;
		@include respond-to(sm-max) {
			margin-top: 30px;
		}
	}
	.agent-bio-wrap,
	.agent-contacts-wrap,
	.agent-stats-wrap {
		background-color: transparent;
		border-radius: 0;
	}
}



















