/* top bar
/* ----------------------------------------------------------- */
.hide-top-bar-mobile {
	@include respond-to(sm-max) {
		display: none;
	}
}

.top-bar-wrap {
	font-size: 14px;
	.header-social-icons {
		font-size: 15px;
	}
}
/* top bar - social icons
/* ----------------------------------------------------------- */
.top-bar-wrap {
	.header-social-icons {
		font-size: 15px;
		padding: 0;
		.btn-square {
			@extend %display-inline-block;
			padding-top: 5px;
			padding-bottom: 5px;
		}
	}
}

/* top bar - navigation
/* ----------------------------------------------------------- */
.top-bar-nav {
	.nav-link {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.navbar-toggler {
		padding-top: 5px;
		padding-bottom: 5px;
		padding-#{$start-direction}: 0;
		padding-#{$end-direction}: 0;	
	}
	// .dropdown-menu {
		// 	@extend %padding-0;
		// 	@extend %margin-0;
		// 	@extend %br-0;
		// 	@extend %border-none;
		// 	@extend %small-box-shadow;
		// 	top: 100%;
		// }
		// .dropdown-item {
			// 	padding: 15px;
			// 	&:after {
				// 		transform: rotate(-90deg);
				// 		margin-top: 3px;
				// 	}
				// }
			}
/* top bar - dropdown menus
/* ----------------------------------------------------------- */
.switcher-wrap,
.top-bar-wrap {
	.btn {
		@extend %font-weight-300;
		@extend %padding-0;
		line-height: 33px;
		&:after {
			margin-#{$start-direction}: 10px;
		}
	}
	.dropdown-menu {
		padding: 5px 18px;
		border: none;
		border-top-#{$start-direction}-radius: 0;
		border-top-#{$end-direction}-radius: 0;
		border-bottom-#{$end-direction}-radius: 4px;
		border-bottom-#{$start-direction}-radius: 4px;
		margin-top: 0;
		max-width: 150px;
		li {
			cursor: pointer;
			@extend %font-weight-300;
			padding: 5px 0;
		}
		.dropdown-item {
			@extend %padding-0;
			@extend %margin-0;
		}
	}
}
.top-bar-left-wrap {
	.btn {
		margin-#{$end-direction}: 10px;
	}
	// .dropdown-menu {
		// 	#{$start-direction}: -15px !important;
		// }
	}
	.top-bar-right-wrap {
		.btn {
			margin-#{$start-direction}: 10px;
		}
		// .dropdown-menu {
			// 	#{$end-direction}: -15px !important;
			// }
		}
/* top bar - phone email
/* ----------------------------------------------------------- */
.top-bar-contact-info,
.top-bar-slogan {
	@extend %display-inline-block;
	padding-top: 5px;
	padding-bottom: 5px;
}
.top-bar-left-wrap {
	.top-bar-contact-info {
		margin-#{$end-direction}: 10px;
	}
}
.top-bar-right-wrap {
	.top-bar-contact-info {
		margin-#{$start-direction}: 10px;
	}
}
.top-bar-contact-info {
	span {
		@include respond-to(sm-max) {
			display: none;
		}
	}
}
/* top bar - currency switcher
/* ----------------------------------------------------------- */
.switcher-wrap {
	@extend %display-inline-block;
}

