/* colors
/* ----------------------------------------------------------- */
$primary-color:			#00aeff !default;
$secondary-color:		#28a745 !default;

$brand-color:			#004274 !default;
$brand-success:         #85c341 !default;
$brand-info:            #34b2e4 !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #c31b1b !default;

$white:					#fff !default;
$black:					#000 !default;
$grey:					#636363 !default;
$grey-light:			#ebebeb !default;
$grey-medium: 			#5c6872 !default;
$grey-dark:				#2d2d2d !default;

$success-color:         #28a745 !default;
$info-color:            #34b2e4 !default;
$warning-color:         #ffc107 !default;
$danger-color:          #dc3545 !default;

$facebook: 				#506dab !default;
$twitter: 				#000000 !default;
$pinterest: 			#cb2027 !default;
$instagram: 			#517fa4 !default;
$google-plus: 			#dd4b39 !default;
$linkedin: 				#007bb6 !default;
$youtube: 				#bb0000 !default;
$dribbble: 				#ea4c89 !default;
$foursquare: 			#0072b1 !default;
$flickr: 				#ff0084 !default;
$vimeo: 				#aad450 !default;
$tumblr: 				#32506d !default;
$rss: 					#FF6600 !default;
$email: 				#ccc !default;
$apple: 				#999 !default;
$android: 				#A4C639 !default;
$windws: 				#2672EC !default;
$lineapp:				#06c755  !default;
$realtor-com:			#d5002e  !default;
$zillow:				#006aff  !default;

$body-bg-color:			#f8f8f8 !default;
$border-color:			#dce0e0 !default;
//$border-color:			#e1e7ed !default;

$placeholder-color:		#a1a7a8 !default;

$text-color:			#222222 !default;

$google-blue: 			#4285f4;
$button-active-blue: 	#1669F2;

/* fonts
/* ----------------------------------------------------------- */

//$primary-font: 			"Libre Franklin", sans-serif;
$primary-font: 			"Plus Jakarta Sans", sans-serif;
$secondary-font: 		"Plus Jakarta Sans", sans-serif;
$icon-font:				"houzez-iconfont";

/* bootstrap variables rewrite
/* ----------------------------------------------------------- */
$spacer: 				1rem  !default;